$background: blue;
$textColor: white;

body{
  background-color: $background;
  font-size: 21px;
  color: $textColor;
}

@media (max-width: 1200px){
  body{
    background-color: blue;
  }
}
@media (min-width: 768px){
  body{
    background-color: green;
  }
}
@media (max-width: 992px){
  body{
    background-color: red;
  }
}